html {
    height: 100%;
}

body {
    height: 100%;
    background-color: aqua;
    font-family: 'Permanent Marker', cursive;

    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/cc/5e/e3/cc5ee3d1058d7779a7e84a8479a08209.jpg");
}
.social-image{
    width: 30px;
    margin: 15px;
}

.header{
    
    display:flex;
    justify-content: center;
    font-size: 80px;
    
}

.navbar{
    
    display:flex;
    justify-content: space-evenly;
    
}

.footer{
    
    display: flex;
    justify-content:space-evenly;
    
}

.rightPane{
    
    background-image: url();
    
}

.Links{
    
    font-size: 25px;
    
}

.gallery{
    
    display:flex;

    
}

.left{
    
    flex-direction:column;
    width:50%;
    
}

.right{
    
    flex-direction:column;
    width:50%;
    
}

.thumbnail-image{
    
    height:100px;
    width:100px;
    margin-top: 10%;
    margin-left:40%;
    margin-bottom: 10%;

}







